section.places {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

section.places h1 {
    font-size: 30px;
    width: 100%;
    margin-bottom: 0;
}

section.places article {
    border: 1px solid #FF5A5F ;
    border-radius: 4px;
    width: 390px;
    height: 100%;
    padding: 20px;
    margin: 20px;
    position: relative;
    z-index: -1;
}

section.places article .place {
    font-size: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0;
    padding-bottom: 30px;
}

section.places .price_by_night {
    color:  #FF5A5F;
    border: 4px solid #FF5A5F;
    border-radius: 50%;
    height: 60px;
    min-width: 60px;
    font-size: 30px;
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

article .information {
    height: 80px;
    border-bottom: 1px solid #DDDDDD;
    border-top: 1px solid #DDDDDD;
    display: flex;
    justify-content: center;
}

.max_guest, .number_rooms, .number_bathrooms {
    background-repeat: no-repeat;
    background-position: center 10px;
    width: 100px;
    display: flex;
    justify-content: center;
    line-height: 100px;
}

section.places .max_guest {
    background-image: url(../images/icon_group.png)
}

section.places .number_rooms {
    background-image: url(../images/icon_bed.png)
}

section.places .number_bathrooms {
    background-image: url(../images/icon_bath.png)
}

section.places article .user {
    margin-top: 20px;
}

article .amenities, .reviews{
    padding: 0;
    margin-top: 40px;
    width: 100%;
}

article .amenities h2, .reviews h2 {
    font-size: 16px;
    border-bottom: 1px solid #DDDDDD;
}

article .amenities ul, .reviews ul{
    list-style-type: none;
    padding: 0px;
}

article .amenities ul li {
    padding-top: 15px;
}

article .amenities .tv, .pet, .wifi {
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: 20px;
    display: flex;
    padding-left: 40px;
}

article .amenities .tv {
    background-image: url(../images/icon_tv.png)
}

article .amenities .pet {
    background-image: url(../images/icon_pets.png)
}

article .amenities .wifi {
    background-image: url(../images/icon_wifi.png)
}

article .reviews h3 {
    font-size: 14px;
    margin: 0;
}

article .reviews p {
    font-size: 12px;
    margin: 0;
}