footer {
    height: 60px;
    width: 100%;
    display: flex;
    position: absolute;
    border-top: 1px solid #CCCCCC;
    bottom: 0;
    justify-content: center;
    align-items: center;
    position: fixed;
}
